@use '../helpers' as *;

.modal {
	z-index: 1000;
	position: fixed;
	inset: 0; // top:0; bottom:0; left:0; right:0;
	background: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	&__content {
		background: white;
		box-shadow: var(--shadow);
		padding: 20px;
		border-radius: var(--border-radius-medium);
	}

	&:not(.is-active) {
		@include visually-hidden;
	}
}
