@use 'helpers' as *;

html {
	&.is-lock {
		overflow: hidden;
	}
}

main {
	flex-grow: 1;
}

body {
	font-family: var(--font-family-base);
	color: var(--color-dark);
	background-color: var(--color-light);
}

a,
button,
label,
textarea,
input,
select,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	&[class] {
		text-decoration: none;
	}
}

:focus-visible {
	outline: 2px dashed var(--color-dark);
	outline-offset: 4px;
	transition-duration: 0 !important;
}

button,
input {
	all: unset;
}

button {
	cursor: pointer;
}

a,
button {
	&[aria-label] {
		position: relative;

		&::before {
			content: '';
			@include abs-center;
			@include square(rem(44));
		}
	}
}

a {
	color: var(--color-light);
}

button:focus-visible,
a:focus-visible {
	// кто добавит тот красавчик а мне сейчас лень
}
